doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ManagerBabascriptOrg
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='bower_components/backgrid/lib/backgrid.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    #header.navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Babascript Manager
    .container-fluid.contents
      .row
        #sidebar.col-md-2
        #main.col-md-10
    #login

    script(type="text/template", id="sidebar-template")
      #sidebar-group-list-layout
      hr
      #sidebar-user-list-layout

    script(type="text/template", id="sidebar-group-list-template")
      h4 Group List
      ul.sidebar-group-list.nav.nav-pills.nav-stacked
      button.btn.btn-primary(type="button") + new group

    script(type="text/template", id="sidebar-user-list-template")
      h4 UserList
      ul.sidebar-user-list.nav.nav-pills.nav-stacked
      button.btn.btn-primary(type="button") + new user

    script(type="text/template", id="sidebar-group-element-template")
      a(href!="#group/<%= groupname %>") <%= groupname %>

    script(type="text/template", id="sidebar-user-element-template")
      a(href!="#user/<%= username %>") <%= username %>

    script(type="text/template", id="main-user-template")
      h3 Users data
      .row
        #user-data
        #user-test-data
        #user-task

    script(type="text/template", id='user-table-panel-template')
      .panel.panel-primary
        .panel-heading
          strong データ
        #user-test-data-table.panel-body
        .input-group.add-key-group
          span.input-group-btn
            button.add-button.btn.btn-default(type='button') キーを追加
          input.add-key.form-control(type='text')
        //- button.add-button.center-block.btn.btn-info(type="button") add info

    script(type="text/template", id="data-table-remove-template")
      a: span.glyphicon.glyphicon-remove

    script(type="text/template", id="user-data-list-template")
      table.table.table-borderd.table-striped
        thead
          tr
            th objectId
            th username
            th data list
        tbody.user-data-rows

    script(type="text/template", id="user-data-row-template")
      th <%= objectId %>
      th <%= username %>
      <% _.each(data, function(v, k){ %>
      th <%= k %>:<%= v %>
      <% }); %>

    script(type="text/template", id="user-data-l-template")
      div.panel-heading
        strong user infomation
      div.panel-body
        table.table.table-striped.m-table.table-heading
          thead
            tr
              th key
              th value
          tbody
            tr
              th user name
              th <%= username %>
            tr
              <% _.each(groups, function(v, k){ %>
              th group
              th <%= v %>
              <% });%>
            <% _.each(attributes, function(v, k){ %>
            tr
              th <%= k %>
              th <%= v %>
            <% }); %>
        button.add-property.btn.btn-primary.center-block Add Property

    script(type="text/template", id="main-group-template")
      h3 Group Data
      .row
        #group-member-layout
        #group-task-layout

    script(type="text/template", id="group-member-list-template")
      div.panel-heading
        strong group members list
      div.panel-body
        table.table.table-striped.m-table.table-heading
          thead
            tr
              th username
              th status
          tbody.group-member-rows

    script(type="text/template", id="group-member-list-layout-template")
      div.panel-heading
        strong group members list
      #group-member-table.panel-body
      .input-group.add-key-group
        span.input-group-btn
          button.add-button.btn.btn-default(type='button') メンバーを追加
        input.add-user.form-control(type='text')


    script(type="text/template", id="group-member-template")
      th: a(href!="/user/<%= username %>") <%= username %>
      th <%= status %>

    script(type="text/template", id="user-task-list-template")
      div.panel-heading
        strong user exec task list
      div.panel-body
        table.table
          thead
            tr
              th 依頼内容
              th グループ
              th 依頼の実行者
              th 依頼の状態
              th 依頼発生時間
              th 依頼実行開始時間
              th 依頼終了時間
              th 実行時間
          tbody.task-lists

    script(type="text/template", id="user-task-template")
      th <%= key %>
      th <%= group %>
      th <%= worker %>
      th <%= status %>
      th <%= moment(createdAt).format("YY/M/D h:m:s") %>
      th <%= moment(startAt).format("YY/M/D h:m:s") %>
      th <%= moment(finishAt).format("YY/M/D h:m:s") %>
      th <%= moment(finishAt).diff(moment(startAt), 'seconds') %>秒
      //- p <%= phrase %>

    script(type="text/template", id="login-view-template")
      .modal-dialog
        .modal-content
          .modal-header
            h4 Login or Signup
          .modal-body
            form.form.com-md-12.center-block
              .form-group
                input#id-input.form-control.input-lg(type="text", placeholder="id")
              .form-group
                input#pass-input.form-control.input-lg(type="password", placeholder="password")
              .form-group
                button#login-button.btn.btn-primary.btn-lg.btn-block login
                span#signup-button.pull-right: a ... or sign up

    script(type="text/template", id="top-view-template")


    // build:js scripts/main.js
    script(data-main='scripts/main', src='bower_components/requirejs/require.js')
    // endbuild
